config.txt
progress.json
pr-avatars/
résultats/*/
résultats-nomi/*/
résultats/layoutPR.png
*/__pycache__/*
*.xlsx
*.mp4
*.mp3
*.json

**/env
**/venv

*.ods
résultats/*_Affinity.png
résultats/*_stats.txt
